<%- include("../partials/header") %>
        
<div class="container text-center" >
    <h1 class="mb-3"> Add a new comment to <strong><%= campground.name %></strong></h1>

    <div style="display: inline">
        <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group">    
                <input class="form-control" type="text" name="comment[text]" placeholder="text">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary"> Submit</button>
            </div>       
        </form>
        <a href="/campgrounds">Back</a>
    </div>       

</div>

<%- include("../partials/footer") %>