<%- include("../partials/header") %>
        
<div class="container text-center" >
    <h1 class="mb-3"> Create a new campground</h1>

    <div style="display: inline">
        <form action="/campgrounds" method="POST" enctype="multipart/form-data">
            <div class="form-group">    
                <input class="form-control" type="text" name="camp[name]" placeholder="name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="camp[image]" placeholder="image">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" multiple='multiple' id="image" name="image" accept="image/*" enctype= "multipart/form-data">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="camp[category]" placeholder="Category-Trek/Non-Trek">
            </div>   
            <div class="form-group">
                <input class="form-control" type="number" name="camp[cost]" placeholder="cost" min="0" step="1">
            </div>
            <div class="form-group">
                <textarea rows="10" class="form-control" name="camp[description]" placeholder="description">
                </textarea>
            </div>     
            <div class="form-group">
                <button class="btn btn-lg btn-primary"> Submit</button>
            </div>       
        </form>
        <a href="/campgrounds">Back</a>
    </div>       

</div>

<%- include("../partials/footer") %>